.miMonedero {
    width: 90%;
    margin: auto;
}

.miMonedero .misPuntos {
    width: 20%;
    margin: auto;
}

.miMonedero .misPuntos h2 {
    
}

.miMonedero .movimientos {
    width: 60%;
    border: 1px solid rgba(0,0,0,.5);
    margin: auto
}

.miMonedero .movimientos .titleMovimientos {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.miMonedero .movimientos .listTransaccion {
    width: 100%;
    /* margin: auto; */
    padding: 0;
}

.miMonedero .movimientos .listTransaccion .transaccion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.miMonedero .movimientos .listTransaccion .transaccion .title {
    width: 80%;
    font-size: 1.2em;
}

.miMonedero .movimientos .listTransaccion .transaccion .menos {
    color: red;
}

.miMonedero .movimientos .listTransaccion .transaccion .mas {
    color: green;
}