.containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding-top: 0;
  padding: 0;
  position: relative;
}

.containerForm .form {
  background-color: transparent;
  border-radius: 10rem;
  height: 135vh;
  width: 50%;
  padding: 20px 50px;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

.divFAM {
  margin-right: 35rem;
  background-color: transparent;
  border-radius: 10rem;
  width: 45%;
}

.formFAM {
  margin-left: -3rem;
  background-color: transparent;
  border-radius: 10rem;
  height: 135vh;
  width: 100%;
  padding: 0 10rem 1rem 3rem;
}

.divCAT {
  margin-top: 10rem;
  margin-left: 10rem;
  background-color: transparent;
  border-radius: 10rem;
  height: 135vh;
  width: 45%;
  padding: 20px 50px;
}

.divSUB {
  margin-top: 10rem;
  margin-left: 55rem;
  background-color: transparent;
  border-radius: 10rem;
  height: 135vh;
  width: 45%;
  padding: 20px 50px;
}

.formCAT {
  margin-top: 1rem;
  margin-right: 15rem;
  background-color: transparent;
  border-radius: 10rem;
  height: 135vh;
  width: 45%;
  padding: 20px 50px;
}

.formSUB {
  background-color: transparent;
  border-radius: 10rem;
  height: 135vh;
  width: 100%;
  padding: 1rem -1rem;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
  font-size: 30px;
  color: var(--clr-primary-5);
}

#title2 {
  font-size: 1.3rem;

  color: var(--clr-primary-5);
}

#title3 {
  font-size: 1.3rem;
  margin: -8rem 0px 0px 0px;
  color: var(--clr-primary-5);
}

#title4 {
  font-size: 20px;
  margin: -8rem 0 0 35rem;
  color: var(--clr-primary-5);
}

.containerForm .btm,
.containerForm button {
  width: 60%;
  border-radius: 30px;
}

#file {
  color: rgba(0, 0, 0, 0.7);
}

.containerForm .btm:focus {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f0f0f0;
}

.containerForm button {
  outline: none;
}

.btm {
  outline: none;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 0 0 10px;
  width: 0%;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.7);
}

.text-label {
  font-size: 1.2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  background-color: rgba(4, 0, 43, 0.692);
  border-radius: 0.3rem;
  color: var(--clr-primary-5);
}

.divFormFAM {
  margin-left: 20rem;
  font-size: 1.2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  background-color: rgba(4, 0, 43, 0.692);
  border-radius: 0.3rem;
  color: var(--clr-primary-5);
  max-width: 60%;
}

.text-label-desc {
  font-size: 0.8rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  background-color: rgba(4, 0, 43, 0.692);
  border-radius: 0.3rem;
  color: var(--clr-primary-5);
}
/* 
.btm-desc {
  outline: none;
  height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10rem;
  padding: 0 0 0 10px;
  width: 0%;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.7);
} */

.containerForm form div {
  margin: 10px 0;
}

.ulubi {
  display: grid;
  grid-gap: 2% 0;
  grid-template-columns: repeat(3, 5fr);
  align-items: center;
  height: 80%;
}

.submitForm {
  height: 2rem;
  margin-top: 2rem;
  background-color: rgba(4, 0, 43, 0.692);
  color: #f0f0f0;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.btn3 {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.275rem 0.55rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-size: 0.775rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 50rem;
  margin-top: 0.5rem;
  max-width: 8rem;
}

.btn3:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

.btn4 {
  display: inline-block;
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.275rem 0.55rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-size: 0.775rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  max-width: 8rem;
  margin: 1rem 0 0 1rem;
}

.btn4:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

.btn5 {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.275rem 0.55rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-size: 0.775rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-top: 0.5rem;
  margin-left: 35rem;
  max-width: 8rem;
}

.btn5:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

.divFormController {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  /* max-width: -6rem; */
}

.btnC {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.275rem 0.55rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-size: 0.775rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 1rem 0 0 1rem;
}

.btnC:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

.divFormCAT {
  margin-left: 20rem;
  font-size: 1.2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  background-color: rgba(4, 0, 43, 0.692);
  border-radius: 0.3rem;
  color: var(--clr-primary-5);
  max-width: 100%;
}

.inp {
  height: 1.8rem;
  margin-top: 0.5rem;
  border-radius: var(--radius);
  background-color: white;
  color: black;
}

.btn6 {
  display: inline-block;
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.275rem 0.55rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-size: 0.775rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  max-width: 9rem;
  margin: 1rem 0 0 1rem;
}

.btn6:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

.contenedorFamilia {
  margin-top: 4rem;
  background: radial-gradient(#02041b 0%, #272f75 100%);
  border: 2px solid rgb(1, 247, 234);
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.699);
  max-width: 100%;
  background-image: linear-gradient(#050824, #1a2058, #2c7eca);
  border-radius: 2rem;
  max-height: 20rem;
  font-family: "Catamaran", sans-serif !important;
}

.inp3 {
  height: 2.2rem;
  width: 10rem;
  margin-top: -10rem;
  border-radius: var(--radius);
  background-color: white;
  color: black;
}

#titleFam {
  font-size: 1.3rem;
  margin: 0 0 0 11rem;
  color: var(--clr-primary-5);
}

.formFamilia {
  margin-left: -3rem;
  background-color: transparent;
  border-radius: 10rem;
  margin-top: 2rem;
  width: 100%;
  padding: 0 10rem 1rem 3rem;
}

.contenedorTransacciones {
  margin-top: 4rem;
  background: radial-gradient(#02041b 0%, #272f75 100%);
  border: 2px solid rgb(1, 247, 234);
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.699);
  max-width: 100%;
  background-image: linear-gradient(#050824, #1a2058, #2c7eca);
  border-radius: 2rem;
  max-height: 20rem;
  max-width: 35%;
  margin-left: 20rem;
  font-family: "Catamaran", sans-serif !important;
}

#titleTran {
  font-size: 1.3rem;
  margin: 1rem 0 0 3rem;
  color: var(--clr-primary-5);
}

.err {
  margin: auto;
  display: flex;
  /* background-color: royalblue; */
  font-size: 15px;
  color: red
}