

/*categorias*/
.categorias{
    width: auto;
   
    
}
.categorias ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;

}

.categorias .family{
    display: inline-block;
    font-size: 14px;
    z-index: 1000;
    padding-right: 0;
    border-radius: 8px;
   

}

.categorias .menu-main li:hover{
    background: #0d1029;
    
} 


.categorias ul li a {
    color: #e0e0e0;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    padding: .6em .6em .6em .6em ;
    padding-left: 0;
    
}


.menu-sub{
    position: absolute;
    background: transparent;
    /* margin-right: 10px; */
    /* width: auto !important; */
    display: none;
    color: #17e8f7;
    padding-top: 2em ;

   
    
  
   
}

.categorias li:hover .menu-sub{
    display: flex;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 700px;
}


.menu-main{
    padding-left: 0 !important;
    
}


.menu-main .sub {
    display: block;
    cursor: pointer;
}

.sub:hover {
background: lightblue;
}

.menu-sub ul li  a {
    padding: 0;
}

.menu-categoria{
    margin: .4em 0 .3em ;
    font-size: 14px;
    color: #17e8f7;
    font-weight: bold;
    
}

/* .menu-col-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   

} */

.menu-col-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: radial-gradient(circle, #272f75 0%, #0d1029 100%);
    padding: -5rem;
    width: 800px;
    border-radius: 10px;
}

.grid-category{
    /* display: flex;
    flex-direction: column;
    align-items:center; */
    color: white;
    background: transparent;
    margin: 0.25rem;
    margin-right: 0.5rem;
    font-weight: bolder;
    
    flex-wrap: wrap;
    height: auto;
    max-height: 24rem;
    column-width: 18rem;
}

.sub-categoria-container{
    background: transparent;
}

/* .grid-ul{
    margin-left: 10rem;
} */
