@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap');
#sidebar {
    background: rgba(24, 30, 54, 1);
    grid-area: sidebar;
    overflow-y: hidden;
    padding: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid #ffffff;
    font-family: 'Catamaran', sans-serif !important;
}

.titleSideBarUser {
    text-align: center;
    margin: auto;
    font-weight: 700;
    font-size: 2em !important;
    font-style: oblique;
    font-family: sans-serif;
    letter-spacing: .2em;
    text-shadow: 0.2em 0.2em rgb(0 0 0 / 50%);
}

#containerLogoSideBarUser {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 10vh !important;
    padding: 10% !important;
    width: 100%;
}

.imgSideBarUser {
    width: 35%;
}

.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

/* .sidebar__menu {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
} */

.sidebar__img {
    display: flex;
    padding-left: 45px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.sidebar__title>div>img {
    width: 50px;
    object-fit: contain;
}

.sidebar__title>div>h1 {
    font-size: 28px;
    display: inline;
}

.sidebar__title>i {
    font-size: 18px;
    display: none;
}

.sidebar__link {
    color: #fbfdff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 95%;
}

.sidebar__link button {
    background: transparent;
    border: none;
    color: white;
    width: 80%;
}

.active_menu_link {
    background: #0d1029;
    color: azure;
}

.sideBarUser {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% !important;
    width: 100%;
}

#sidebarUser {
    height: 40%
}

.sidebar__link img {
    width: 20%;
}

#inputActiveSideBarUser {
    background: rgba(149, 165, 166, .1);
}

#inputActiveSideBarUser button {
    color: rgba(255, 255, 255, .5);
}

.active_menu_link a {
    color: #ffffff !important;
}

.sidebar__link>a {
    text-decoration: none;
    color: #a7ada5;
    font-weight: 700;
}

.sidebar__link>i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar__logout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
}

.sidebar__logout>a {
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar__logout>i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar-responsive {
    display: inline !important;
    z-index: 10000 !important;
    left: 0 !important;
    position: absolute;
}

@media only screen and (max-width: 978px) {
    #sidebar {
        display: none;
        height: 95vh;
        border: none;
    }
    .sidebar__img {
        padding-left: 25px;
    }
    .sidebar__title {
        display: inline;
    }
}