.containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding-top: 0;
  padding: 0;
  position: relative;
}

.containerForm .form {
  background-color: transparent;
  border-radius: 10rem;
  height: 135vh;
  width: 50%;
  padding: 20px 50px;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
  font-size: 30px;
  margin: 30px 0px 0px 0px;
  color: var(--clr-primary-5);
}

.containerForm .btm,
.containerForm button {
  width: 60%;
  border-radius: 30px;
}

#file {
  color: rgba(0, 0, 0, 0.7);
}

.containerForm .btm:focus {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f0f0f0;
}

.containerForm button {
  outline: none;
}

.btm {
  outline: none;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 0 0 10px;
  width: 0%;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.7);
}

.text-label {
  font-size: 1.2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  background-color: rgba(4, 0, 43, 0.692);
  border-radius: 0.3rem;
  color: var(--clr-primary-5);
}

.text-label-desc {
  font-size: 0.8rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  background-color: rgba(4, 0, 43, 0.692);
  border-radius: 0.3rem;
  color: var(--clr-primary-5);
}

.btm-desc {
  outline: none;
  height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10rem;
  padding: 0 0 0 10px;
  width: 50%;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.7);
}

.containerForm form div {
  margin: 10px 0;
}

.ulubi {
  display: grid;
  grid-gap: 2% 0;
  grid-template-columns: repeat(3, 5fr);
  align-items: center;
  height: 80%;
}

.submitForm {
  height: 2rem;
  margin-top: 2rem;
  background-color: rgba(4, 0, 43, 0.692);
  color: #f0f0f0;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.selectTransAgregar {
  color: black;
  width: 10rem;
  height: 2.2rem;
  border-radius: var(--radius);
  background-color: white;
}

/* .divFormAgregar {
  background-color: green;
} */

/* .divAgregar {
  width: 100%;
} */

/* --------------------------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap");

.modalFAM {
  max-width: 40%;
}

.buttonModal {
  display: flex;
  justify-content: flex-start;
  border-radius: 1rem;
  height: 2.3rem;
  margin: 0 0 -2rem -1rem;
  color: rgba(0, 0, 0, 0.7);
}

.agregarModal {
  text-transform: uppercase;
  background: #272f75;
  color: var(--clr-white);
  padding: 0.275rem 0.55rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-size: 0.775rem;
  border: 2px solid var(--clr-primary-8);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-top: 1rem;
  margin-left: 8rem;
}

.agregarModal:hover {
  color: #02041b;
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-8);
}

.contenedorFAM {
  margin-left: 18rem;
  margin-top: 4rem;
  background: radial-gradient(#02041b 0%, #272f75 100%);
  border: 2px solid rgb(1, 247, 234);
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.699);
  max-width: 40%;
  background-image: linear-gradient(#050824, #1a2058, #2c7eca);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  font-family: "Catamaran", sans-serif !important;
}

.divModalFAM {
  background-color: transparent;
  border-radius: 10rem;
  width: 100%;
}

.inp2 {
  height: 2.2rem;
  width: 10rem;
  margin-top: 0.5rem;
  border-radius: var(--radius);
  background-color: white;
  color: black;
}

.modalFAM {
  background: radial-gradient(circle, #272f75 0%, #02041b 100%);
  border: 2px solid rgb(1, 247, 234);
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.699);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 70px 100px 80px;
}

.divModal {
  border: 2px solid rgb(1, 247, 234);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.699);
  border-radius: 40px;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form > input {
  background: cornsilk;
  width: 240px;
  height: 35px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 0.2em;
  margin-bottom: 1rem;
}
.logo__login {
  width: 4em;
  margin-left: 6.2rem;
}
.login__container h2 {
  color: rgb(227, 243, 4);
  margin-left: 4.5rem;
}

.login__container--form label {
  font-size: 14px;
}

.button__login {
  border-radius: 0.2em;
  width: 21.8em;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #17e8f7;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}
.button__login:hover {
  background: #4ccbd4;
}

.login__container--remember-me {
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}

.login__container--remember-me a {
  color: rgb(250, 250, 250);
  font-size: 14px;
  text-decoration: none;
  margin-top: 4px;
  font-weight: bold;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media {
  padding-top: 2rem;
}

.login__container--social-media > div {
  align-items: center;
  display: flex;
  font-size: 18px;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}

.login__container--social-media > div > img {
  margin-right: 1.3rem;
  width: 30px;
}

.register__login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register {
  color: rgb(0, 236, 253);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgb(5, 236, 236);
}

@media only screen and (max-width: 480px) {
  .login__container {
    border: none;
  }
}
