@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap');


.font-bold{
    font-weight: 700;
  
  }
  
  .text-title{
    color: #2e4a66;
  }
  
  .text-lightblue{
    color: #469cac;
  }
  
  .text-red{
    color: #cc3d38; 
  }
  
  .text-yellow{
    color: #c4cf20;
  }
  
  .text-yellow{
    color: #20cf69;
  }


   
.contenedorTableroUser{
    margin: 0% !important;
    font-family: 'Catamaran', sans-serif !important;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  @media only screen and (max-width: 978px){
    .contenedor{
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas: 
        "nav"
        "main"
    ;
    }
  
  }
  