@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap');


.register {
    background-image: linear-gradient(#050824,#1a2058, #18e7dd);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    font-family: 'Catamaran', sans-serif !important;
  }
  
  .register__container {
    background: radial-gradient(circle, #343e8b 0%, #02041b 100%);
    border: 2px solid rgb(1, 247, 234);
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
    padding: 80px 70px 100px 80px;
  
  }
  
  .register__container--form {
    display: flex;
    flex-direction: column;
  }

  .registro__start{
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .registro__start .p{
      font-weight: bold;
      color: rgb(155, 238, 238);
      
  }
  .logo__register{
    width: 3em;
   
}
  .register__container h2{
    color: rgb(227, 243, 4);
    font-size: 1.3em;
   
}
  
  .register__container a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .register__container a:hover {
    text-decoration: underline;
  }


  .register__container--form .input__registro{
    background: #fff8dc;
    width: 240px ;
    height: 28px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: .2em;
    margin-bottom: 1rem;

  }

  .button__registro{
    border-radius: .2em;
    width: 21.8em;
    height: 29px;
    border: none;
    outline: none;
    cursor: pointer;
    background:#17e8f7;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: .4s;
  }
  .button__registro:hover{
    background:#019faa;
    
  }


  .link__sesion{
    margin-left: 1.6rem;
    margin-top: 1rem;
    border-radius: 2em;
    width: 15em;
    height: 35px;
    border: none;
    cursor: pointer;
    background:#c7f717;
    font-weight: bold;
    transition: .4s;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-top: 2%;
    padding-bottom: 1%;
    transition: .6s;
  }

  .link__sesion:hover{
    background:#769603;
   
  }


  .alerta-ok {
    background-color: rgb(109, 211, 109);
    color: rgb(2, 103, 2);
  }
  .alerta-error {
    background-color: rgb(255, 19, 19);
    color: #f0f8f8;
    font-weight: bold;
    border-radius: .2em;
    
  }
  






select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #b8baca;
  background-image: none;
  
 
  color:rgb(253, 253, 253);
  cursor:pointer;
  font-size: 1em;
  font-family: 'Catamaran', sans-serif;

  
  
}
select::-ms-expand {
  display: none;
 
}
.select {
  position: relative;
  display: flex;
  padding: 0 25px;
  line-height: 1.8;
  background: #fff8dc;
  overflow: hidden;
  border-radius: .2em;
  color: #000000;
 
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .5em;
  background: #e459e9;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;

}
.select:hover::after {
  color: #ad27ad;
  
}


.last{
  margin-bottom: 2.5em;
}