@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap');




.registerContent{
 
  font-family: 'Catamaran',sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #45a0dd;
  color: #f0f8f8;

 

}

.register__description{
  font-size: 19px;
  margin-bottom: 10px;

}

.container_form_register{
  width: 560px;
  background: radial-gradient(circle, #272f75 0%, #02041b 100%);
  border-radius: .8em;
  text-align: center;
  padding: 4px 35px 8px 35px;
  border: 3px solid rgb(0, 255, 213);
  
  

}



.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(245, 0, 0);
  color: #f0f8f8;
  border-radius: .2em;
  font-weight: 600;
}











