.testimonios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.testimonio {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  background-color: #9d9da7;
  box-shadow: 0 0 0 0.15rem rgba(146, 106, 165, 0.541);
  border: 0.1rem solid;
  border-radius: 3rem;
}

#inside {
  margin-top: -4rem;
  text-align: center;
}

#name {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

#title {
  display: flex;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 1px 1px 4px black;
  letter-spacing: 0.2rem;
  justify-content: center;
}

.userImage {
  display: flex;
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-top: 1rem;
}

.testimonio:hover {
  background-color: #9d9da790;
}
