#container-sidebar{
    width: 30%;
    height: 100%;
    background-color: #24244b;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 768px) {
    #container-sidebar{
        display: none;
    }
  }