
.form{
     position: absolute;
     margin-top: 5rem;
    
     width: 100%;
     height: 80%;
     border-radius: 30px 0px 0px 30px;
}

.container{
    display: flex;
    flex-direction: row;
}
body{
    background: gray;
}
.container-form{
    background: white;
    border-radius: 30px 0 0px 30px;
    width: 50%;
    height: 120vh;
}



.title{
position: absolute;
width: 500px;
height: 50px;
margin-bottom: 15rem;
margin-left: 15rem;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
opacity: 0.6;

}


.facebook{
    font-weight: bold;
    position: absolute;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 28%;
    height: 15%;
    background-color: #1976D2;
    border-radius: 5px ;

}
.img-facebook{
    width: 50px;
    margin-right: 8rem;
    position: absolute;
    left: 5%;
    top: 5%;
}

.img-twitter{
    width: 50px;
    margin-right: 8rem;
    position: absolute;
    left: 5%;
    top: 5%;
}
.img-google{
    width: 50px;
    margin-right: 8rem;
    position: absolute;
    left: 5%;
    top: 5%;    
}
 .img-usuario{

    width: 30px;
    margin-right: 8rem;
    margin-top: 17rem;
    margin-left: 5rem;
    position: absolute;
    left: 5%;
    top: 5%;    
}  
.img-contraseña{
    width: 30px;
    margin-right: 8rem;
    margin-top: 21rem;
    margin-left: 5rem;
    position: absolute;
    left: 5%;
    top: 5%; 
}

.twitter{
    font-weight: bold;
   margin-top: 4rem;
   margin-left: 10%;
    position: absolute;
    width: 28%;
    height: 15%;
    background: #03A9F4;
    border-radius: 5px;
}

.google{
    font-weight: bold;
    margin-top: 8rem;
    margin-left: 10%;
    margin-bottom: 2%;
    position: absolute;
    width: 28%;
    height: 15%;
    background: #F44336;
    border-radius: 5px;

}

.o{
 position: absolute;
width: 500px;
height: 48px;
margin-top: 14%;
margin-left: 18rem;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

opacity: 0.6;
}


.form-control-contraseña {
    position: absolute;
    padding:0    8rem;
    width: 350px;
    height: 50px;
    margin-top: 17rem; 
    margin-left: 8rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.form-control-usuario{
position: absolute;
width: 350px;
height: 50px;
margin-top: 13rem;
margin-left: 8rem;
padding: 0 8rem;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.6);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;

} 

.btn-submit {
    font-weight: bold;
    position: absolute;
    width: 350px;
    height: 50px;
    margin-top: 21rem;
    margin-left: 8rem;
    background: #DEC800;
    border: 1px solid #A5A58D;
    box-sizing: border-box;
    border-radius: 5px;

}

.forgot-password{
position: absolute;
width: 170px;
height: 20px;
margin-top: 25rem;
margin-left: 22rem;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

opacity: 0.6;
}

.registrarse{
position: absolute;
width: 85px;
height: 20px;
margin-top: 25rem;
margin-left: 9rem;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;

color: #000000;

opacity: 0.6;
}
.simple{
    text-decoration: none;
}


.container-2{
width: 50%;
height: 120vh;
background: #414163;
border-radius: 0px 30px 30px 0px;
}

.img-hunter{
position: absolute;
width: 282px;
height: 299px;
margin-top: 20rem;
margin-left: 12rem;

/* background: url(5239033.png); */
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.price-hunter{
 position: absolute;
width: 500px;
height: 200px;
margin-top: 0rem;
margin-left: 10rem;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 122px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

/* border: 1px solid #000000; */
text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.55);
}

.price-hunter2{
    position: absolute;
width: 500px;
height: 200px;
margin-top: 6rem;
margin-left: 8rem;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 122px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

/* border: 1px solid #000000; */
text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.55);

}

