.containerNavBar {
  height: 10vh;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerNavBar .title {
  font-size: 1.8em;
  font-style: italic;
}

.containerNavBar .links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.containerNavBar .links a {
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.containerNavBar .button {
  width: 12%;
  height: 60%;
  border: none;
  border-radius: 0.5em;
  background: #9d9da7;
  font-size: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: #8b8a96;
}

.containerNavBar .modal {
  position: absolute;
  z-index: 100;
  background: red;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.titleNavBar {
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 1100px) {
  .containerNavBar .button {
    height: 50%;
    font-size: .8em;
  }
}