@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap");
#sidebarr {
  background: #24244b;
  grid-area: sidebar;
  overflow-y: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 1px solid #ffffff;
  font-family: "Catamaran", sans-serif !important;
  width: 125%;
  z-index: 1000;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.sidebar__menu {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.sidebar__img {
  display: flex;
  padding-left: 45px;
}

.sidebar__title > div > img {
  width: 50px;
  object-fit: contain;
}

.sidebar__title > div > h1 {
  font-size: 28px;
  display: inline;
}

.sidebar__title > i {
  font-size: 18px;
  display: none;
}

.sidebar__link {
  color: #fbfdff;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 5px;
}

.sidebar__link button {
  background: transparent;
  border: none;
  color: white;
}

.active_menu_link {
  background: #0d1029;
  color: azure;
}

.active_menu_link a {
  color: #ffffff !important;
  /* font-size: 20px;
    padding-left: 40px;
    font-weight: lighter; */
}

.sidebar__link > a {
  text-decoration: none;
  color: #a7ada5;
  font-weight: 700;
}

.sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
}

.sidebar__logout > a {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar-responsivee {
  display: inline !important;
  z-index: 10000 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  #sidebarr {
    display: none;
    height: 95vh;
    border: none;
  }
  .sidebar__img {
    padding-left: 25px;
  }
  .sidebar__title {
    display: inline;
  }
  .sidebar__menu {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 478px) {
  #sidebarr {
    display: none;
    height: 95vh;
    border: none;
  }
  .sidebar__img {
    padding-left: 25px;
  }
  .sidebar__title {
    display: inline;
  }
  .sidebar__menu {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}
/* 
@media only screen and (max-width: 978px) {
 .sidebar__menu {
    height: 1
  }
} */

.agregarr {
  /* display: inline-block; */
  width: auto;
  z-index: 1000;
}

/* .agregarr ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
} */

/* .agregarr .menu-main .agregarr:hover {
  background: #0d1029;
  width: 100%;
} */

/* .agregarr ul li a {
  color: #e0e0e0;
  font-weight: bolder;
  text-decoration: none;
  display: block;
  padding: 0.6em 0.6em 0.6em 0.6em;
  padding-left: 0;
} */

.addd {
  display: flex;
  position: absolute;
  color: white;
  /* padding-bottom: 3rem; */
  /* padding-top: 0em; */
  cursor: pointer;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

/* .agregarr .addd:hover .addd {
  display: flex;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 700px;
} */

.addd .subAdd {
  display: block;
  cursor: pointer;
  font-size: 10em;
}

.addd:hover {
  opacity: 1;
  color: #17e8f7;
}

.addd ul li a {
  padding: 0;
}

.menu-opciones {
  display: inline-block;
  margin: 0.5em 15em 2em;
  font-size: 14px;
  color: #17e8f7;
  font-weight: bold;
}

.menu-col {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* background: radial-gradient(circle, #272f75 0%, #0d1029 100%); */
  /* padding: -5rem; */
  margin-top: 1rem;
  padding: 0.5rem;
  width: 10rem;
  /* border-radius: 10px; */
}

/* .grid-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em 5em 25em 0;
  color: white;
  background: transparent;
  font-weight: bolder;
  height: auto;
  max-height: 24rem;
  column-width: 18rem;
} */

.sub-categoria-container {
  background: transparent;
}

.subAdd button {
  color: white;
  background: transparent;
  border: none;
  width: 100%;
  font-size: 0.8em;
}

.btnSide {
  display: inline-block;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  width: 100%;
  color: white;
  /* margin: 0.5rem; */
  background: rgb(32, 50, 85);
}

.btnSideConfig {
  display: inline-block;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  margin-top: 3rem;
  /* width: 100%;
  color: white;
  /* margin: 0.5rem; */
  /* background: rgb(32, 50, 85); */
}

.account-title3 {
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgba(39, 48, 109, 0.644);
  border-color: rgb(12, 2, 59);
  border-width: 0.13rem;
  border-radius: var(--radius);
  margin-top: 2rem;
}
