@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.containerTransaccionesUser {
    width: 95%;
    height: 90%;
    background: rgba(255,255,255,.25);
    margin: 1% auto;
    border-radius: .5em;
    font-family: 'Rubik', sans-serif;
    box-shadow: rgb(255 255 255 / 15%) 0px 5px 15px;
}

.containerTransaccionesUser .listTransaccionesUser {
    width: 100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0
}

.titleUltMov {
    font-size: 1.5em !important;
    width: 100%;
    text-align: center;
}

.containerTransaccionesUser .listTransaccionesUser .itemListTransacciones {
    /* padding: 1%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.containerTransaccionesUser .listTransaccionesUser .itemListTransacciones .imgTransaccionesUser {
    width: 5%;
}

.containerTransaccionesUser .listTransaccionesUser .itemListTransacciones .observacionTransaccionesUser {
    width: 80%;
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.containerTransaccionesUser .listTransaccionesUser .itemListTransacciones .puntosTransaccionesUser {
    width: 10%;
    margin: 0;
    font-size: 1em;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 700px) {
    .containerTransaccionesUser .listTransaccionesUser .itemListTransacciones .puntosTransaccionesUser {
        font-size: .8em;
    }
    .containerTransaccionesUser .listTransaccionesUser .itemListTransacciones .observacionTransaccionesUser {
        font-size: .8em;
    }
}