.backscreen {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: radial-gradient(circle, #37428d 0%, #13162f 100%);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.form-style-9 {
  background: #fafafa;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 0.8rem;
  border: 6px solid #305a72;
}
.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 0.12rem solid #b0cfe0;
  border-radius: var(--border);
}
.form-style-9 ul li .field-style:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
}
.form-style-9 ul li .field-split {
  width: 49%;
}
.form-style-9 ul li .field-full {
  width: 100%;
}
.form-style-9 ul li input.align-left {
  float: left;
}
.form-style-9 ul li input.align-right {
  float: right;
}
.form-style-9 ul li textarea {
  width: 100%;
  height: 7rem;
}

.regresarDiv {
  padding-right: 25rem;
  padding-bottom: 10rem;
}

.regresar {
  background-color: #216288;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-size: 0.875rem;
  width: 50%;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.regresar:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985b1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985b1;
  box-shadow: inset 0px 1px 0px 0px #3985b1;
  background-color: #216288;
  border: 0.13rem solid #17445e;
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 18px;
  text-decoration: none;
  font: 0.8rem Arial, Helvetica, sans-serif;
}
