@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap");

.Totallogin{
  overflow-y: hidden;
  height: 100vh;
}

.loger_cont {
  /* background: radial-gradient(circle, #0cdaf5 0%,#271d63 50%, #181046 75%, #181046 100%); */
  background: #45a0dd;
  height: 100vh;
  flex-direction: column;
  font-family: "Catamaran", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}

.global-container__log {
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00f3fc;
  width: auto;
 
  
  
}


.welcome-login{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;

}
.form-group label {
  color: #10ebe0 !important;
}
.form {
  padding-top: 16px;
  font-size: 12px;
  margin-top: 30px;
}

.login-form {
  width: 380px;
  height: 460px;
  margin: 25px;
  background: #1a2226 !important ;
  border-radius: 20px !important;
  border: 4px solid #00edf5 !important;
}

.logput,
.logput {
  background: #000000 !important;
  border: 2px solid #00f3fc !important;
  margin-bottom: 25px;
  border-radius: 5px;
  color: #00f3fc !important;
}

.logput:focus {
  outline: none !important;
  border: none;
  margin: 0;
  background: #1a2226 !important ;
  color: #00f3fc !important;
}

.a-log {
  float: right;
  font-size: 14px;
  color: white;
  font-weight: 700 !important;
}

.a-new {
  color: #ffffff;
  font-weight: 700 !important;
}

.card-title {
  font-weight: 700 !important;
  padding-top: 8px;
  font-size: 25px;
  color: rgb(127, 243, 11) !important;
}

.btn {
  font-size: 14px !important;
  transform: translateY(10px);
  border-radius: 10px !important;
  color: #031b17;
  font-weight: 700 !important;
  /* background: #03d6d6 !important; */
}

.btn_google {
  font-size: 14px;
  transform: translateY(10px);
  border-radius: 10px !important;
  color: #00fdd3;
  font-weight: 900;
  background: #1a2226;
  border: none;
  cursor: pointer;
}

.singup {
  text-align: center;
  padding-top: 25px;
  font-weight: 500;
  color: rgb(0, 240, 220) !important;
}

@media only screen and (max-width: 850px) {
  .img__Login {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .img__Login {
    display: none;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: black !important;
  color: #fc3a3a !important;
  border-radius: 0.1em;
  font-weight: 600 !important;
  padding: 0.5em;
  font-size: 15px;
}

.button__google {
  background: transparent;
  border: none;
}
