@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap');



.loger_cont{
  /* background: radial-gradient(circle, #0cdaf5 0%,#271d63 50%, #181046 75%, #181046 100%); */
  background: #45a0dd;
  height: 100vh;
  font-family: "Catamaran", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}




.global-container__log{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: auto;
  
}

.card__login{
  background: #0a2352 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;
  border-radius: 1em !important;
}

.login__form{
  color: white !important;
  font-size: 15px !important;
  font-weight: bold;
}



.login__form label{
  color: rgb(0, 232, 240) !important;
  font-size: 15px !important;
  font-weight: bold;
}

.google__log{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.btn{
  width: 380px !important;
  font-size: 13px !important;
  transform: translateY(12px);
  border-radius: 2px !important;
  color: #031b17 !important;
  font-weight: 750 !important;
  background: #0a9df1 !important;
}
.btn:hover{
  background: #0a173f !important;

}



.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: transparent !important;
  color: #fc3a3a !important;
  border-radius: .1em;
  font-weight: 600 !important;
  padding: .2em;
  font-size: 15px;
}


.button__google{
  background: transparent;
  border: none;
}