@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap');



body {
  box-sizing:border-box !important;
  font-family: 'Catamaran', sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #c4c4cc;

}

/*Barras de sroll*/

::-webkit-scrollbar{
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b4d306;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1b3e;
}


.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(255, 19, 19);
  color: #f0f8f8;
}

