@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600&display=swap");
/*Barras de sroll*/

::-webkit-scrollbar{
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b4d306;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1b3e;
}

body {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c4c4cc;
}
