/* Slideshow container */
.marcasAsociadas {
  margin: 2% 0;
}

.marcasAsociadas .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.marcasAsociadas .slideshow-container .mySlides {
  display: inline-flex;
}

.marcasAsociadas #title {
  display: flex;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 1px 1px 4px black;
  letter-spacing: 0.2rem;
  justify-content: center;
}

.logoimagen {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5%;
}

.marcasAsociadas .slideshow-container .prev,
.marcasAsociadas .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -1.5rem;
  margin-right: -0.2rem;
}

.marcasAsociadas .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.marcasAsociadas .slideshow-container .prev:hover,
.marcasAsociadas .slideshow-container .next:hover {
  color: rgba(111, 120, 199, 0.8);
  text-decoration: none;
}

.marcasAsociadas div .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active, */
.marcasAsociadas div .dot:hover {
  background-color: #717171;
}

.marcasAsociadas .slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.regresar {
  width: 50%;
  height: 100%;
  border: 0.1rem solid;
  border-radius: 0.2em;
  background: #9d9da7;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5rem;
}

.regresar:hover {
  background-color: #9d9da790;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
